/*Aca Body*/
/*Aca Header*/
.headerCont {
  background-color: #ffa1a3 !important;
  .navbar {
    width: 90%;
    margin: auto;
    background-color: #ffa1a3 !important;

    .navbar-brand {
      transition: all 1s ease;
      &:hover {
        -moz-transform: scale(1.2) translate(3px, 0px);
        -webkit-transform: scale(1.2) translate(3px, 0px);
        -o-transform: scale(1.2) translate(3px, 0px);
        -ms-transform: scale(1.2) translate(3px, 0px);
        transform: scale(1.2) translate(3px, 0px);
      }
    }
    .container-fluid {
      .navbar-collapse {
        display: flex;
        justify-content: flex-end;
      }
      .nav-link {
        font-family: "Josefin Slab", serif;
        font-size: x-large;
        font-weight: bold;
        color: #ffffff;
      }
      .donaCSS {
        font-family: "Josefin Slab", serif;
        font-size: x-large;
        font-weight: bold;
        color: #ffffff;
        transition: all 0.5s ease;
        &:hover {
          border: none;
          background-color: #ffc91f;
          color: #ffffff;
          border-radius: 3px;
          box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}
/*Aca Main*/
.contForm {
  .formAdopcion {
    margin-left: 40px;
    margin-top: 5px;
    height: 50%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.8);
    .titlFormAdopcion {
      color: #ffa1a3;
      font-family: "Josefin Slab", serif;
      font-size: 40px;
      font-style: normal;
      font-weight: bolder;
      margin: 5px 0px 10px 0px;
      padding: 5px;
      position: relative;
    }
    .groupName {
      display: flex;
      flex-direction: column;
      margin: 0px 5px 5px 5px;
      position: relative;
    }
    .inputNameForm {
      background: none;
      font-size: 15px;
      padding: 0px 0px 5px 0px;
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid #ffa1a3;
      transition: all 0.5s ease;
      &:focus {
        outline-style: none;
        color: #ffc91f;
      }
    }
    .nombreForm {
      color: #ffa1a3;
      font-family: "Josefin Slab", serif;
      font-size: 20px;
      font-style: normal;
      font-weight: bolder;
    }
    .groupMensaje {
      display: flex;
      flex-direction: column;
      margin: 0px 5px 5px 5px;
      position: relative;
    }
    .textareaForm {
      background: none;
      font-size: 15px;
      padding: 0px 0px 5px 0px;
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid #ffa1a3;
      transition: all 0.5s ease;
      &:focus {
        outline-style: none;
        color: #ffc91f;
      }
    }
    .mensajeForm {
      color: #ffa1a3;
      font-family: "Josefin Slab", serif;
      font-size: 20px;
      font-style: normal;
      font-weight: bolder;
    }
    .inputEnviarForm {
      font-family: "Josefin Slab", serif;
      color: #ffffff;
      font-size: 15px;
      margin: 5px 2px 10px 5px;
      height: 70%;
      width: 20%;
      border: none;
      border-radius: 10px;
      background: #ffa1a3;
      background: -webkit-linear-gradient(to right, #e69192, #402829);
      background: linear-gradient(to right, #e69192, #bf787a, #805051);
      cursor: pointer;
    }
    .inputBorrarForm {
      font-family: "Josefin Slab", serif;
      color: #ffffff;
      font-size: 15px;
      margin: 5px 2px 10px 5px;
      height: 70%;
      width: 20%;
      border: none;
      border-radius: 10px;
      background: #ffa1a3;
      background: -webkit-linear-gradient(to right, #e69192, #402829);
      background: linear-gradient(to right, #e69192, #bf787a, #805051);
      cursor: pointer;
    }
  }
}
.titlUbic {
  font-family: "Josefin Slab", serif;
  font-size: 250%;
  font-weight: bold;
  color: #ffa1a3;
}
/*Aca Footer*/
.contFooter {
  height: 10% !important;
  width: 100% !important;
  margin: auto;
  background-color: #ffa1a3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .logFace {
    margin: 5px;
    padding: 2px;
  }
  .logInsta {
    margin: 5px;
    padding: 2px;
  }
  .logWp {
    margin: 5px;
    padding: 2px;
  }
  .Slogan {
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  .Local {
    display: flex;
    align-items: center;
    border: none;
    color: #ffffff;
  }
}
