/*Aca Body*/
/*Aca Header*/
.headerCont {
  background-color: #ffa1a3 !important;
  .navbar {
    width: 90%;
    margin: auto;
    background-color: #ffa1a3 !important;

    .navbar-brand {
      transition: all 1s ease;
      &:hover {
        -moz-transform: scale(1.2) translate(3px, 0px);
        -webkit-transform: scale(1.2) translate(3px, 0px);
        -o-transform: scale(1.2) translate(3px, 0px);
        -ms-transform: scale(1.2) translate(3px, 0px);
        transform: scale(1.2) translate(3px, 0px);
      }
    }
    .container-fluid {
      .navbar-collapse {
        display: flex;
        justify-content: flex-end;
      }
      .nav-link {
        font-family: "Josefin Slab", serif;
        font-size: x-large;
        font-weight: bold;
        color: #ffffff;
      }
      .donaCSS {
        font-family: "Josefin Slab", serif;
        font-size: x-large;
        font-weight: bold;
        color: #ffffff;
        transition: all 0.5s ease;
        &:hover {
          border: none;
          background-color: #ffc91f;
          color: #ffffff;
          border-radius: 3px;
          box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}
/*Aca Main*/
.contMain {
  height: 100% !important;
  .contPrin {
    .ConTextPrin {
      background-color: #ffa1a3;
      text-align: center;
      margin-top: 5px;
      .tiltPrin {
        font-family: "Josefin Slab", serif;
        font-size: 250%;
        font-weight: bold;
        color: #ffffff;
      }
      .textPrin {
        font-family: "Josefin Slab", serif;
        color: #ffffff;
        font-weight: bold;
        font-style: oblique;
        font-size: 100%;
      }
    }
  }
  .contSec {
    margin-bottom: 20px;
    margin-top: 5px;
    .ContBanco {
      .SubContBanco {
        background-color: #ffa1a3;
        .titlBanco {
          font-family: "Josefin Slab", serif;
          color: #ffffff;
          font-weight: bold;
          font-size: 250%;
          margin-top: 10px;
          margin-left: 10px;
          margin-right: 10px;
        }
        .subTiltBanco {
          font-family: "Josefin Slab", serif;
          color: #ffffff;
          font-weight: bold;
          font-style: oblique;
          font-size: 125%;
          text-align: center;
        }
        .textBanco1 {
          font-family: "Josefin Slab", serif;
          color: #ffffff;
          font-weight: bold;
          font-style: normal;
          font-size: 150%;
          text-align: center;
        }
        .textBanco {
          font-family: "Josefin Slab", serif;
          color: #ffffff;
          font-weight: bold;
          font-style: normal;
          font-size: 100%;
          text-align: center;
          margin-bottom: 3px;
        }
      }
    }
    .ContDonaciones {
      .SubContDonaciones {
        .tiltDonaciones {
          font-family: "Josefin Slab", serif;
          color: #ffa1a3;
          font-weight: bold;
          font-size: 250%;
          margin-top: 10px;
          margin-left: 10px;
          margin-right: 10px;
        }
        .textDonaciones {
          font-family: "Josefin Slab", serif;
          color: #ffa1a3;
          font-weight: bold;
          font-style: normal;
          font-size: 100%;
          text-align: center;
          margin-bottom: 3px;
        }
        .botAdopta {
          margin: 10px;
          padding: 2px;
          font-family: "Josefin Slab", serif;
          background-color: #ffa1a3;
          border: none;
          font-weight: bold;
          font-size: 100%;
          transition: all 1.5s ease;
          &:hover {
            border: none;
            background-color: #ffc91f;
            color: #ffa1a3;
            border-radius: 3px;
            box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.8);
          }
        }
      }
    }
  }
}
/*Aca Footer*/
.contFooter {
  height: 10% !important;
  width: 100% !important;
  margin: auto;
  background-color: #ffa1a3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .logFace {
    margin: 3px;
  }
  .logInsta {
    margin: 3px;
  }
  .logWp {
    margin: 3px;
  }
  .Slogan {
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  .Local {
    display: flex;
    align-items: center;
    border: none;
    color: #ffffff;
  }
}
