/*Aca Body*/
/*Aca Header*/
.headerCont {
  background-color: #ffa1a3 !important;
  .navbar {
    width: 90%;
    margin: auto;
    background-color: #ffa1a3 !important;

    .navbar-brand {
      transition: all 1s ease;
      &:hover {
        -moz-transform: scale(1.2) translate(3px, 0px);
        -webkit-transform: scale(1.2) translate(3px, 0px);
        -o-transform: scale(1.2) translate(3px, 0px);
        -ms-transform: scale(1.2) translate(3px, 0px);
        transform: scale(1.2) translate(3px, 0px);
      }
    }
    .container-fluid {
      .navbar-collapse {
        display: flex;
        justify-content: flex-end;
      }
      .nav-link {
        font-family: "Josefin Slab", serif;
        font-size: x-large;
        font-weight: bold;
        color: #ffffff;
      }
      .donaCSS {
        font-family: "Josefin Slab", serif;
        font-size: x-large;
        font-weight: bold;
        color: #ffffff;
        transition: all 0.5s ease;
        &:hover {
          border: none;
          background-color: #ffc91f;
          color: #ffffff;
          border-radius: 3px;
          box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}
/*Aca Main*/
.contMain {
  .contImgGroup {
    margin: 20px;
  }
}
/*Aca Section*/
.contSection {
  .contMision {
    width: 400px;
    height: 600px;
    background-color: #ffa1a3;
    margin: 10px, 10px, 10px, 10px;

    .textMision {
      font-family: "Josefin Slab", serif;
      color: #ffffff;
      font-weight: bolder;
      font-style: normal;
      font-size: 200%;
    }
    .parrMision {
      font-family: "Josefin Slab", serif;
      color: #ffffff;
      font-weight: bolder;
      font-style: oblique;
      font-size: 150%;
    }
  }
  .contObj {
    width: 400px;
    height: 600px;
    margin: 10px, 10px, 10px, 10px;
    .textObj {
      font-family: "Josefin Slab", serif;
      color: #ffa1a3;
      font-weight: bolder;
      font-style: normal;
      font-size: 200%;
    }
    .parrObj {
      font-family: "Josefin Slab", serif;
      color: #ffa1a3;
      font-weight: bolder;
      font-style: oblique;
      font-size: 150%;
    }
  }
  .conTrabajo {
    height: 300px;
    width: 900px;
    margin: 20px, 10px, 10px, 10px;

    .texTrab {
      font-family: "Josefin Slab", serif;
      color: #ffa1a3;
      font-weight: bolder;
      font-style: normal;
      font-size: 200%;
    }
    .parrTrab {
      font-family: "Josefin Slab", serif;
      color: #ffa1a3;
      font-weight: bolder;
      font-style: oblique;
      font-size: 150%;
    }
  }
}

/*Aca Footer*/
.contFooter {
  height: 10% !important;
  width: 100% !important;
  margin: auto;
  background-color: #ffa1a3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .logFace {
    margin: 5px;
    padding: 2px;
  }
  .logInsta {
    margin: 5px;
    padding: 2px;
  }
  .logWp {
    margin: 5px;
    padding: 2px;
  }
  .Slogan {
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  .Local {
    display: flex;
    align-items: center;
    border: none;
    color: #ffffff;
  }
}
