/*Aca Body*/
/*Aca Header*/
.headerCont {
  background-color: #ffa1a3 !important;
  .navbar {
    width: 90%;
    margin: auto;
    background-color: #ffa1a3 !important;

    .navbar-brand {
      transition: all 1s ease;
      &:hover {
        -moz-transform: scale(1.2) translate(3px, 0px);
        -webkit-transform: scale(1.2) translate(3px, 0px);
        -o-transform: scale(1.2) translate(3px, 0px);
        -ms-transform: scale(1.2) translate(3px, 0px);
        transform: scale(1.2) translate(3px, 0px);
      }
    }
    .container-fluid {
      .navbar-collapse {
        display: flex;
        justify-content: flex-end;
      }
      .nav-link {
        font-family: "Josefin Slab", serif;
        font-size: x-large;
        font-weight: bold;
        color: #ffffff;
      }
      .donaCSS {
        font-family: "Josefin Slab", serif;
        font-size: x-large;
        font-weight: bold;
        color: #ffffff;
        transition: all 0.5s ease;
        &:hover {
          border: none;
          background-color: #ffc91f;
          color: #ffffff;
          border-radius: 3px;
          box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}
/*Aca Main*/
.contMain {
  height: 100% !important;
  .contTotal {
    .contHogar {
      margin-top: 10px;
      .tiltHogar {
        font-family: "Josefin Slab", serif;
        font-size: 350%;
        font-weight: bold;
        color: #ffa1a3;
      }
      .textHogar {
        font-family: "Josefin Slab", serif;
        color: #ffa1a3;
        font-weight: bold;
        font-style: oblique;
        font-size: 150%;
      }
    }
    .contReq {
      background-color: #ffa1a3;
      .tiltReq {
        font-family: "Josefin Slab", serif;
        font-size: 350%;
        font-weight: bold;
        color: #ffffff;
      }
      .textReq {
        font-family: "Josefin Slab", serif;
        color: #ffffff;
        font-weight: bold;
        font-style: oblique;
        font-size: 150%;
      }
    }
  }
  .conTotalV {
    .contVolun {
      background-color: #ffa1a3;
      margin-top: 10px;
      .tiltVolun {
        font-family: "Josefin Slab", serif;
        font-size: 350%;
        font-weight: bold;
        color: #ffffff;
      }
      .textVolun {
        font-family: "Josefin Slab", serif;
        color: #ffffff;
        font-weight: bold;
        font-style: oblique;
        font-size: 150%;
      }
    }
    .contReqV {
      margin-top: 10px;
      .tiltReqV {
        font-family: "Josefin Slab", serif;
        font-size: 350%;
        font-weight: bold;
        color: #ffa1a3;
      }
      .textReqV {
        font-family: "Josefin Slab", serif;
        color: #ffa1a3;
        font-weight: bold;
        font-style: oblique;
        font-size: 150%;
      }
    }
  }
}
/*Aca Footer*/
.contFooter {
  height: 10% !important;
  width: 100% !important;
  margin: auto;
  background-color: #ffa1a3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .logFace {
    margin: 3px;
  }
  .logInsta {
    margin: 3px;
  }
  .logWp {
    margin: 3px;
  }
  .Slogan {
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  .Local {
    display: flex;
    align-items: center;
    border: none;
    color: #ffffff;
  }
}
